<div class="home-banner">

    <div class="home-banner-container">
        <h1>Ajax Pages</h1>

        <div>
            <%= link_to 'SEE ALL RESTAURANTS', restaurants_path, class: 'btn btn-home-banner btn-cta' %>
        </div>
    </div>

</div>

